.side_color{
    background: radial-gradient(50% 50% at 50% 50%, rgba(248, 188, 38, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
width: 891px;
height: 891px;
left: -514px;
top: -198px;
}
.right_side_color{
    background: radial-gradient(50% 50% at 50% 50%, rgba(248, 188, 38, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
width: 891px;
height: 891px;
right: -514px;
top: 498px;
}
.margin-top{
    margin-top: 120px;
}
.width{
    width: 270px
}
.height{
    height: 200px;
}